body {
  background: linear-gradient(
    180deg,
    #5e62a1 10%,
    #8276a5 25%,
    #997fa7 35%,
    #b386a7 45%,
    #d288a5 60%,
    #f9a08f 80%,
    #feb573 100%
  );
}
h2 {
  text-align: center;
}

#form {
  background-color: #833e6b;
  color: white;
  border-radius: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  max-width: 25%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: 0.6s;
  border: 0;
}

#form:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#form input {
  margin-bottom: 10px;
}

main {
  backdrop-filter: blur(10px);
}

input {
  cursor: pointer;
}

#submit {
  background-color: #826599;
}
.error-msg {
  margin: 10px 0;
  display: block;
  background: crimson;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px;
}
