body {
  background: linear-gradient(
    180deg,
    #5e62a1 10%,
    #8276a5 25%,
    #997fa7 35%,
    #b386a7 45%,
    #d288a5 60%,
    #f9a08f 80%,
    #feb573 100%
  );
  height: 100vh;
  padding: 0;
  margin: 0;
}
main {
  min-height: 92.1vh;
  max-width: 1000vh;
}

header {
  border-bottom: 1px solid;
}

#forms div a {
  background-color: #826599;
  color: white;
}

#forms div a:hover {
  background-color: #833e6b;
}
#left {
  width: 95.5vh;
}

#right {
  width: 96.3vh;
}

#left div {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  color: white;
}

#right #login {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: white;
}

#right #signup {
  position: absolute;
  top: 40%;
  left: 81%;
  transform: translate(-50%, -50%);
  color: white;
}

h2 {
  text-align: center;
}

#form {
  background-color: #833e6b;
  color: white;
  border-radius: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  height: auto;
  max-width: 25%;
  transform: translate(-50%, -50%);
  padding: 20px;
  transition: 0.6s;
  border: 0;
}

#form:hover {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

#form input {
  margin-bottom: 10px;
}

input {
  cursor: pointer;
}

#submit {
  background-color: #826599;
}
.cols {
  color: white;
  text-decoration: none;
}
